<style>
  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>

<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>

  @if (selectedUser) {
  <app-tasks [name]="selectedUser.name" [id]="selectedUser.id" />
  } @else {
  <p id="fallback">Select user to see their tasks!</p>
  }
</main>

<router-outlet />
